.jumbotron.jumbotron-fluid.main-image.mb-0
.camel-bg.message
  %p.text-uppercase.mb-0 Software Developer

.section.container
  .row
    .col-12.col-lg-8.offset-lg-2
      %h3.text-center.font-weight-light.mb-4.text-primary HI, I'M KAT
      %p.font-weight-light
        %strong Welcome to my site 👋!!
        I am originally from #{link_to 'Peru', 'https://www.peru.travel/about-peru.aspx', target: '_blank' }, and I've been living in The USA since 2015. I am a passionate explorer, software developer and wellness advocate. I transform creative ideas into responsive web applications.
      %p.font-weight-light Since 2015, I've worked with small agile teams to create digital products and develop MVPs. My stack includes Ruby on Rails, HTML5, CSS, jQuery, Javascript, PostgreSQL, Sideqik, and Git.

      %p.font-weight-light I am inspired to contribute and build great things that make people happier and the world more awesome.

      %p.font-weight-light I am inspired by people that want to make a positive impact and are always positive despite the circumstances.

      %p.font-weight-light I love biking, practicing yoga and meditation, hiking around nature and reading books that support my personal growth.

      %p.font-weight-light Thank you for visiting!

.project.section
  .container
    .row
      .col-12.col-lg-8.offset-lg-2
        %h3.text-center.font-weight-light.mb-4.text-white SOME OF THE PROJECTS I HAVE WORK ON
        .card
          .card-body
            %h5.card-title LeaderInMe - Resource Library
            %p.card-text Resource library for schools programs.
            =link_to 'https://www.leaderinme.com/resources', target: '_blank', class: "card-link" do
              %i.fa.fa-external-link.fa-2x

        .card.mt-3
          .card-body
            %h5.card-title PacaOm
            %p.card-subtitle.mb-2.text-muted Personal project
            %p.card-text PacaOm is a space for learning different ways to increase wellbeing, cultivate mindfulness, and live consciously.
            =link_to 'https://www.pacaom.com', target: '_blank', class: "card-link" do
              %i.fa.fa-external-link.fa-2x

        .card.mt-3
          .card-body
            %h5.card-title The Flower Alley
            %p.card-text Online florist shop and store management.
            =link_to 'https://www.thefloweralley.com', target: '_blank', class: "card-link" do
              %i.fa.fa-external-link.fa-2x

        .card.mt-3
          .card-body
            %h5.card-title WeFundThem
            %p.card-text Fundraising platform for youth sports teams.
            =link_to 'https://wefundthem.com', target: '_blank', class: "card-link" do
              %i.fa.fa-external-link.fa-2x

        %h4.text-center.mt-5= link_to "VISIT MY GITHUB", "https://github.com/KatherineMuedas",'aria-label' => 'Github', target: '_blank'

.jumbotron.jumbotron-fluid.sub-image.mb-0
  .container
    %a.btn.btn-info.btn-lg.text-white{:href => "KatherineMuedas-Resume.pdf", target: "_blank"}
      %i.fa.fa-download
      Download Resume
