.jumbotron.jumbotron-fluid.main-image.mb-0
  -# .container
    -# %h1.display-4 Fluid jumbotron
    -# %p.lead This is a modified jumbotron that occupies the entire horizontal space of its parent.

.camel-bg.message
  %p.text-uppercase.mb-0 Listen to your feelings. Listen to your Higher Thoughts. Listen to your experiences.

.about-section.container
  .row
    .col-12.col-lg-8.offset-lg-2
      %h2.text-center.font-weight-light.mb-4.text-primary Hi, I'm Kat
      %p.font-weight-light
        %strong Welcome to my site!
        I am a passionate explorer, world-traveler, software developer and wellness advocate.  Originally from Peru, I moved to the USA in 2015 but I've been working remotely and traveling around the world since 2017.

      %p.font-weight-light I am inspired to contribute and build great things that make people happier and the world more awesome.

      %p.font-weight-light I am inspired by people that want to make a positive impact and are always positive despite the circumstances.

      %p.font-weight-light I love reading books about personal growth.

      %p.font-weight-light I am currently learning Vue.js and Belly Dance.

.jumbotron.jumbotron-fluid.sub-image.mb-0
  .container
    %a.btn.btn-info.btn-lg.text-white{:href => "KatherineAdam-Resume.pdf", target: "_blank"}
      %i.fa.fa-download
      Download Resume
