*{
  margin: 0;
  padding: 0;
}

//home
.main-image{
  background-repeat: no-repeat;
  background-position: center;
  background-image: asset-url('KatMuedas.jpeg');
  background-color: #8aa0a3 !important;
  height: 450px;
  border-radius: 50%;
  margin-bottom: 0;
}

.sub-image{
  background-image: asset-url('flowerkat.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  text-align:center;
}

.camel-bg{
  background: #e6c4b4;
}

.message{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.section{
  padding-top: 100px;
  padding-bottom: 100px;
}

.project{
  background-color: #8aa0a3;
}
